.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  color: brown;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 618px;
  height: 618px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.mole {
  background-image: url("../images/mole.jpg");
  background-size: cover;
}
